body{
	background-image: url("../images/bg-content.gif");
	padding: 0px;
	margin: 0px;
}
.body{
	display: flex;
	justify-content: center;
}
.main-content{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url("../images/bg-content.gif");*/
	margin-bottom: 0px;
	background-color: white;
	padding:  10px 0px;
	margin: 0px 8px 0px 8px;
}
/*.main-container{
	width: 1000px;
}*/
.content .title {
	display: none;
}
.content .title h2{
	color: #303030;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.content .title p{
	color: #383838;
	margin-top: 0px;
	padding-top: 0px;
}
.content .title a{
	color: #383838;
}
.content .title a:hover{
	color: #303030;
}
.contact-info h4{
	margin: 0px;
	margin-top: 50px;
	color: #303030;
}
.contact-info div p{
	margin: 5px;
	color: #383838;
}
/* .contact3{
} */
@media screen and (min-width: 700px){
	.main-content{
		background-color: white;
		padding: 10px 8px 250px 8px;
		margin: 0px 8px 12px 8px;
	}
	.content .title{
		display: block;
	}
	.content .title h2{
		font-size: 40px;
	}
	.content .title .p{
		width: 90%;
	}
	.content .title p{
		color: #383838;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 30px;
	}
@media screen and (min-width: 900px){
	body{
		background-image: url("../images/bg-content.gif");
		padding: 0px;
		margin: 0px;
	}
	.body{
		display: flex;
		justify-content: center;
		padding: 0px 0px 10px 0px;
	}
	.main-content{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0px;
		border-radius: 15px;
		background-color: white;
		padding:  0px 25px;
		padding-bottom: 350px;
		margin: 0px 8px 0px 8px;
	}
	.main-container{
		width: 1000px;
	}
	.content .title h2{
		color: #303030;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	.content .title .p{
		width: 100%;
	}
	.content .title p{
		color: #383838;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 1em;
	}
	.content .title a{
		color: #383838;
	}
	.content .title a:hover{
		color: #303030;
	}
	.contact-info h4{
		margin: 0px;
		margin-top: 50px;
		color: #303030;
	}
	.contact-info div p{
		margin: 5px;
		color: #383838;
	}

}