footer{
	background-color: #0c2635;
}
footer .title, footer .title2{
	color: #456f7f;
}
.info{
	display: flex;
	justify-content: center;
}
.info .container{
	display: flex;
	width: 950px;
	justify-content: space-between;
}
.info h3{
	text-transform: uppercase;
	color: #456f7f;
	font-size: 12px;
}
.Adress{
	color: #456f7f;
}
.Adress p{
	margin: 3px;
	font-size: 14px;
}
.Adress p span:first-child {
	display: inline-block;
	width: 70px;
}
.Adress p span:last-child {
	padding-left: 8px;
}
 .info .footer-icons{
	display: flex;
}
.info .footer-icons > div {
	width: 60px;
	height: 60px;
	background: #515c78;
	border-radius: 50%;
	margin-left: 11px;
	margin-right: 11px;
}
.info .footer-icons div div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info .footer-icons > div:hover{
	background: #8296bf;
	cursor: pointer;
}
.info .footer-icons div .fa{
	font-size: 30px;
   /** color: #456f7f;**/	
}
.copy-rights{
	display: flex;
	justify-content: center;
}
.copy-rights div{
	color: #456f7f;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 13px;
}