html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0;
}
.header {
	background-color: #0c2635;
	padding: 0px 5px;
}
.logo {
	padding-top: 15px;
	padding-bottom: 45px;
}
.logo img {
	width: 300px;
}
.menu {
	display: flex;
	justify-content: center;
	background-color: #dcdcdc;
	border-radius: 1px;
	margin-top: -20px;
	margin-left: 6px;
	margin-right: 6px;
	z-index: 1;
}
.menu a {
	text-decoration: none;
	color: #092f44;
	font-weight: bold;
	font-size: 11px;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu .active {
	background-color: #b7c2c8;
	padding-left: 2px;
	padding-right: 2px;
}
.menu .search-bar {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: auto;
	margin-right: 4px;
}
.menu .search-bar input {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px 30px;
	display: none;
}
.menu .search-bar i {
	color: grey;
	position: absolute;
	right: 5px;
}

/* tablet */
@media screen and (min-width: 700px) {
	.menu {
		margin-bottom: 0px;
	}
	.logo img {
		width: 500px;
	}
	.menu a {
		font-size: 18px;
		letter-spacing: 0.5px;
		padding: 10px 6px;
	}	
}

/* This part is for computer */
@media screen and (min-width: 950px) {
	.header {
		display: flex;
		justify-content: center;
	}
	.header .container {
		width: 1000px;
	}
	.logo img {
		width: 560px;
	}
	.menu {
		margin-left: 12px;
		margin-right: 12px;
	}
	.menu a {
		font-size: 15px;
		padding: 15px;
		letter-spacing: 1px;
	}
	.roboto {
		font-family: "Roboto", sans-serif;
		font-weight: 600 ;
		font-style: normal;        
    }
	.menu .active {
		background-color: #b7c2c8;
		padding-left: 2px;
		padding-right: 2px;
		padding: 12px;
		margin: 3px;
	}
	.menu a:hover {
		background-color: #b7c2c8;
		padding: 12px;
		margin: 3px;
	}
	.menu .search-bar {
		display: flex;
		align-items: center;
		position: relative;
		margin-left: auto;
		margin-right: 4px;
	}
	.menu .search-bar input {
		display: block;
		border: 2px solid grey;
		border-radius: 5px;
		padding: 10px 30px;
	}
	.menu .search-bar i {
		color: grey;
		position: absolute;
		right: 5px;
	}
}