body{
	background-image: url("../images/bg-content.gif");
}
.main-content{
	background: white;
	padding: 10px 8px ;
	margin: 0px 8px 12px 8px ;
}
.row1 h3{
	color :#0e2934;
	margin-bottom: 0px;
	font-size: 25px;
}
.row1 p{
	margin-top: 0px;
	line-height: 25px;
	color:  #646c6f;
	font-size: 20px;
}
.row1 p a{
	color:  #646c6f;
	font-size: 20px;
}
.row2{
	display: flex;
}
.row2 h4{
	margin-bottom: 0px;
	color: #545151;
}
.row2 p{
	margin-top: 2px;
	color:  #646c6f;
	font-size: 20px;
	line-height: 20px;
}
.row2 .column2  li:nth-child(2){
	margin-top: 25px;
	margin-bottom: 25px;
}
.row3{
	margin-top: 20px;
	margin-bottom: 300px;
}
.row3 p{
	font-size: 20px;
	line-height: 28px;
	color:  #646c6f;
}
/**this is for ipad**/
@media screen and (min-width:700px){
	
	.main-content{
		margin-top: 23px;
	}
	.row1 h3{
		font-size: 20px;
	}
	.row2  img{
		width: 414px;
		height: 392px;
	}
	.row2 h4{
		font-size: 14px;
	}
	.row2 p , .row3 p{
		font-size: 15px;
	}
}
@media screen and (min-width: 950px){
	#body{
		display: flex;
		justify-content: center;
	}
	#body-content{
		width: 1000px;
	}
	.main-content{
		padding-left: 25px;
		padding-right: 25px;
	}
	.row1 h3{
		font-size: 26px;
	}
	.row2 img{
		width: 515px;
		height: 342;
	}
	.row2 h4{
		font-size: 16px;
	}
	.row2 p , .row3 p{
		font-size: 16px;
	}
}